/* Reset Default values */
body, div, span, h1, h2, h3, h4,
p, img, footer, header{
    margin: 0;
    padding: 0;
}

:root{
    --main-color: rgb(255, 247, 240);
    --colorBlack: rgb(3, 3, 3);
    --freeConsultationLightRed: rgb(235, 177, 101);
    --colorMediumBrowm: rgb(122, 116, 110);
    --colorGalacticBlue: rgb(117, 92, 222);
    --colorWhite: #fff;
    --colorSummerYellow: rgb(246, 165, 96);
    --colorLightPink: rgb(243, 158, 158);
    --colorLightRed: rgb(235, 117, 101);
    --colorCyan: rgb(92, 196, 183);
    --colorPurple: rgb(85, 32, 73);
    --colorGrey: rgb(122, 116, 110);
}

/* Mobile Style / Mobile First */

body{
    box-sizing: border-box;
    width: 375px;
    height: 3214px;
    background-color: var(--main-color);
    font-size: 16px;
    font-family: 'Plus Jakarta Sans';
}

/* Header  */

header{
    margin: 16px 16px 32px 16px;
    width: 343px;
    height: 290px;
    
}

.head{
    width: 343px;
    height: 48px;
    margin-bottom: 32px;
}

.head img{
    width: 48px;
    height: 48px;
    
}

button{
    width: 176px;
    height: 44px;
    border-radius: 28px;
    border: none;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 28px;
    list-style: normal;
}

.blackButton{
    background: var(--colorBlack);
    color: var(--main-color);
    float: right;
    margin-top: 2px;
}

.intro{
    width: auto;
    height: 210px;
}

.title{
    width: auto;
    height: 90px;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 45.36px;
    text-align: center;
    color: var(--colorBlack);
    margin-bottom: 16px;
}

.description{
    width: 285px;
    height: 104px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
    color: var(--colorMediumBrowm);
}

/* Main - */
/* Lo hacemos por ahora de 1866 px desde las imagenes 
hasta el brief de Ana. Faltaria ver si dentro de este 
Main se puede incluir el carrousel y posteriormente
 el Contact section */

 main{
    width: 343px;
    height: 2806px; /* 1866 + 338 caurosel + 100 margin bottom + 352 contact*/
    margin: 0 16px;
 }

/* Images and Subjects Section */

.images{
    height: 1164px;
    margin-bottom: 100px;
}

 /* Group1 - Graphic Design div */

#group1{
    width: 100%;
    height: 364px;
    background-color: var(--colorGalacticBlue);
    border-radius: 8px;
    margin-bottom: 24px;
}

#gd-img{
    /* margin: 24px 24px 94px 191px; */
    position: relative;
    top: 24px;
    left: 191px;
}

#group1 h3{
    width: 210px;
    height: 30px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--colorWhite);
    margin: 114px 109px 24px 24px;
}

/* Group2 */

.group2{
    width: 100%;
    height: 364px;
}

/* Subgroup1 */

.subgroup1{
    width: 100%;
    height: 182px;

}

.float-child{
    width: 50%;
    float: left;
    width: 159px;
    height: 182px;
    border-radius: 8px;
}

.ui-ux{
    background-color: var(--colorSummerYellow);
    margin-right: 25px;
}

.float-child #ui-ux, #apps{
    position: relative;
    top: 24px;
    left: 70.91px;
    
}

.float-child h3{
    margin: 60px 53.35px 24px 23.77px;
    color: var(--colorWhite);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;

}

.apps{
    background-color: var(--colorLightPink);
}

/* Subgroup2 */

.subgroup2{
    width: 100%;
    height: 158px;
    margin-top: 24px;
    background-color: var(--colorLightRed);
    border-radius: 8px;
}

#illustrations-img{
    position: relative;
    top: 24px;
    left: 190px;
}

.subgroup2 h3{
    width: 162px;
    height: 30px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--colorWhite);
    margin: 36px 156px 24px 24px;
}

/* Group3 */

.group3{
    width: 100%;
    height: 389px;
    margin-top: 24px;
}
/* Sub1 */

.subgroup{
    width: 100%;
    height: 182px;
    border-radius: 8px;
}

.sub1 #photography-img{
    position: relative;
    top: 24px;
    left: 159px;
}
.sub1{
    background-color: var(--colorCyan);
    margin-bottom: 24px;
}

/* Sub2 */

.sub2{
    background-color: var(--colorPurple);
}

.sub2 #motion-graphics{
    position: relative;
    top: 24px;
    left: 191px;
}

.subgroup h3{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--colorWhite);
    height: 30px;
    margin-top: 60px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.sub1 #photo{
    width: 182px;
}

.sub2 #motion{
    width: 227px;
}

/* Section Hero's briefs */

.hero-brief{
    width: 100%;
    height: 602px;
    margin-bottom: 100px;
}

/* Hero div img */

#hero-div{
    margin-bottom: 40px;
}

#hero-div #hero-img{
    width: 300px;
    height: 300px;
    margin: 0 12px;
}

/* Hero Content */

.hero-content{
    width: 100%;
    height: 262px;   
}

.hero-title{
    width: 100%;
    height: 66px;
    color: var(--colorBlack);
    font-size: 1.625rem;
    line-height: 33px;
    text-align: center;
    margin-bottom: 24px;
}

.hero-description{
    width: 100%;
    height: 104px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
    color: var(--colorGrey);
    margin-bottom: 24px;
}

.pinkButton{
    background: var(--colorLightRed);
    color: var(--colorWhite);
    margin: 0 84px;
}

/* Carousel Style */

.container{
    height: 338px;
    margin-bottom: 100px;
}

.container-heading{
    width: 102px;
    height: 30px;
    margin: 0 auto 32px auto;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    color: var(--colorBlack);
}

.carousel{
    max-width: 600px;
    position: relative;
    margin: 0 auto 32px auto;
}

/* Style for carousel pics */

.carousel .carousel-item,
.carousel .carousel-item-hidden{
    display: none;
}

.carousel .carousel-item-visible{
    display: block;
}

.carousel .carousel-item img{
    width: 100%;
    max-width: 600px;
    height: 180px;
    border-radius: 8px;
}

/* Style for the Carousel  */

.carousel-btns{
    width: 144px;
    height: 64px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.btn{
    width: 64px;
    height: 64px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 15px 16px;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
}

.btn-left{
    background-image: url(./assets/icon-arrow-left.svg);
    margin-right: 16px;
}

.btn-right{
    background-image: url(./assets/icon-arrow-right.svg);
}

@keyframes fadeVisibililty {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* Contact Section */

.contact{
    width: 100%;
    height: 352px;
    background-color: var(--colorBlack);
    margin: 0 auto;
    border-radius: 10px;
}

.contact-group{
    width: 295px;
    height: 255px;
    padding: 49px 24px;
}

.contact-title{
    width: 240px;
    height: 33px;
    font-size: 1.625rem;
    line-height: 32.76px;
    text-align: center;
    font-weight: 700;
    color: var(--main-color);
    margin: 0 auto 24px auto;
}

.contact-desc{
    width: 295px;
    height: 130px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
    color: var(--main-color);
    margin: 0 auto 24px auto;
}

#contact-button{
    margin: 0 auto 48px 55px;
}

/* Footer */

footer{
    margin: 0 auto;
}





